* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sideback-opacity {
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 300ms linear;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.sidebar {
  z-index: 100;
  position: fixed;
  transform: translateX(520px);
  background-color: #252440;
  margin-left: auto;
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 50px;
  transition: all 700ms linear;
}

#sidebar.active {
  transform: translateX(124px);
}

.sidebar-item:first-child {
  margin-bottom: 60px;
}

.sidebar-item__nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.sidebar-item__nav li {
  margin: 15px 0;
  list-style: none;
  flex: 1;
}

.sidebar-item__nav li > a {
  text-decoration: none;
  color: #fafafa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.sidebar-item__nav li > a:focus {
  color: #2196f3;
}

.sidebar-item:last-child {
  align-self: center;
}

.sidebar-item__social-media {
  display: flex;
  flex-wrap: row wrap;
}

.sidebar-item__social-media li {
  margin: 0 10px;
  list-style: none;
  flex: 1;
}

.sidebar-item__social-media li > a {
  text-decoration: none;
  color: #fafafa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.sidebar-item__social-media li > a:active {
  color: #2196f3;
}

.navbar-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;
}

.navbar {
  /* background-color: #252440; */
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

.navbar__item {
  margin-right: 5px;
  color: #fafafa;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
}

.hero-image {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("../img/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image__text {
  z-index: 20;
  margin: auto;
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.hero-image__text h1 {
  color: #fafafa;
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
}

.hero-image__text a {
  color: #fafafa;
  text-align: center;
  text-decoration: none;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  width: 85%;
  padding: 15px;
  font-size: 12px;
  line-height: 14px;
}

.hero-image__text a:active {
  background-color: rgba(250, 250, 250, 0.384);
}
